.husky/
.vscode/
node_modules/
cypress/videos/
cypress/reports/
cypress/results/
cypress/screenshots/
cypress/downloads/
cypress.env.json
data/
session.json
cypress/support/util/*.d.ts
xunit.xml
multi-reporter-config.json
parallel-weights.json
mochawesome-report/
runner-results/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
